/*Pixel Jungle Theme*/
/* Colour scheme
Deep canopy = #0F2B1E
Light canopy = #1E5031
Leaf icon (buttons for now) = #5FA85A
Background = #7EC151
Root layer = #4A2E1E

Header1
Header2
Text
*/

.pixel-corners {
    --ps: 4;
    --steps: 2;
}

#forest{
    background-color: #B2D959;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canopy{
    background-color: #0e3a27;
}

.forestbox{
    background-color: #7EC151;
    width: 80%;
    margin: auto;
    padding: 20px 13px;
}

#roots{
    background-color: #482b1a;
}

p{
    border: 2px solid rgb(0 0 255 / 0.91);
    margin: 50px;
}

